<div class="breadcrumbs" id="breadcrumbs">

	<ul class="breadcrumb">
		<li><i class="icon-home home-icon"></i> <a href="#">Home</a><span class="divider"><i class="icon-angle-right arrow-icon"></i></span></li>
		{{#breadcrumbs.links}}
		<li><a href="{{link}}">{{title}}</a> <span class="divider"><i class="icon-angle-right arrow-icon"></i></span></li>
		{{/breadcrumbs.links}}
		<li class="active">{{breadcrumbs.title}}</li>
	</ul><!--.breadcrumb-->

	<div class="nav-search" id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>
	</div><!--#nav-search-->

</div>