<!DOCTYPE html>
<html lang="en">
	{{> layout._template.header}}

	<body class="login-layout">
	
		<div class="main-container container-fluid">
			<div class="main-content">
				<div class="row-fluid">
				 <div class="span12">
{{> page.content }}
				 </div><!--/.span-->
				</div><!--/.row-fluid-->
			</div>
		</div><!--/.main-container-->


		{{> layout._template.footer}}

	</body>
</html>
