<div class="clearfix">
	<div class="pull-left alert alert-success inline no-margin">
		<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
		<i class="icon-umbrella bigger-120 blue"></i> Click on the image below or on profile fields to edit them
	</div>
	<div class="pull-right">
		<span class="green middle bolder">Choose profile: &nbsp;</span>
		<div class="btn-toolbar inline middle no-margin">
			<div data-toggle="buttons-radio" class="btn-group no-margin">
				<button class="btn btn-small btn-yellow active"><span class="bigger-110">1</span></button>
				<button class="btn btn-small btn-yellow"><span class="bigger-110">2</span></button>
				<button class="btn btn-small btn-yellow"><span class="bigger-110">3</span></button>
			</div>
		</div>
	</div>
</div>

<div class="hr dotted"></div>

<div>
	{{> page.style_1}}
</div>

<div class="hide">
	{{> page.style_2}}
</div>

<div class="hide">
	{{> page.style_3}}
</div>


