{{#page.stats}}
<span class="btn btn-app btn-small {{btn-color}} no-hover">
	<span class="{{#size}}{{size}}{{/size}}{{^size}}bigger-175{{/size}}{{#color}} {{color}}{{/color}}">
		{{value}}
	</span>
	<br />
	<span class="smaller-90">
		{{name}}
	</span>
</span>
{{/page.stats}}